@use './variables' as *;


.home-container{
    min-height:100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: rgba(44, 20, 20, 0.681);
    gap:0;
    overflow-x: hidden;
}

